<%- include('partials/_header') -%>

<body>

  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title %> </h1>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on 
              <%= post.dateCreated.toLocaleString('en-US', { month: 'long', day: 'numeric', year: 'numeric'}) %> 
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="/posts/edit/<%= post._id %>">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-pen fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="/posts/<%= post._id%>?_method=DELETE" onclick="return confirm('Are You Sure ?')">
                <span class="fa-stack fa-lg hover-trash" >
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-trash fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p><%= post.detail %> </p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%>

</body>

</html>
